<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        FakePinterest - Homepage
        {% endblock%}
    </title>

</head>
{% block body %}

<body>
<h1> FakePinterest - Site</h1>

<h2> Agora vamos construir</h2>

{% block form %}
<form method="POST">
    {{ form.csrf_token }}

    {{ form.email.label() }}
    {{ form.email() }}

    {{ form.password.label() }}
    {{ form.password() }}

    {{ form.confirm_button() }}

</form>
{% endblock %}

</body>
{% endblock %}
</html>